header{
    font-size: xx-large;
    text-align: center;
}
body{
    background-color: yellowgreen;
}

#pColor{
    text-align: center;
    font-size: large;
    width: 200px;
    border: 100px;
    padding: 30px;
    margin: 10px;
    margin-top: 25px;
    margin-left: 625px;
}
#redSlider,#greenSlider,#blueSlider,p{
    text-align: center;
    font-size: large;
    margin: 10px;
    margin-top: 10px;
}
